<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'chats' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        <%= t(".welcome_to_chat") %>
      </h4>
      <hr />
      <p>
        <%= t(".chat_instruction") %>
      </p>
    </div>
</div>
