<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'chats' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Welcome to the Chat
      </h4>
      <hr />
      <p>
        You can create or join a chat room from the sidebar.
      </p>
    </div>
</div>
